* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
nav {
    background-color:rgba(255, 248, 188, 0.928);
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    text-align: center;
    top: 0px; 
  }
  
  nav a {
    color:rgb(255, 112, 55);
    font-family: cursive;
    font-size: 30px;
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
	background-color: #fef6a8;
}

.book {
	--book-height: 100vh;
	--book-ratio: 1.4;
}

.book > div {
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: #ffa260;
	transform: scale(0.8);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 8;
	text-align: center;
	background-size: 2em 2em;
	background-color: #fef6a8;
	color: white;
	transition: transform 2s;
}

.book-cover::before {
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: #ff7154;
}

h1 {
	font-family:cursive;
	font-size: 45px;
	font-weight: bolder;
	color: #fffc9a;
}

h2 {
	font-size: 33px;
}

.separator {
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: #fffc9d;
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before {
	content: "";
	position: absolute;
	width: 12px;
	background-color: white;
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after {
	left: 15px;
}

.separator::before {
	right: 15px;
}

.book-content {
	background-color: rgb(255, 232, 213) !important;
}

.book-content h3,
.book-content p {
	opacity: 0;
	transition: all 0.3s 0.3s;
}

h3 {
	padding: 30px;
}

p {
	padding: 50px 30px 10px 30px;
	text-align: justify;
	font-size: 25px;
}

.book-cover > div {
	transition: opacity 0s 0.6s;
}

.book:hover > .book-cover {
	transform: rotateY(180deg) scale(0.8);
}

.book:hover > .book-cover > div {
	opacity: 0;
}

.book:hover > .book-content {
	transform: scale(0.8) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p {
	opacity: 1;
}
