*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #efcaff, #7b37a2)
}
.container{
    width: 500px;
    height: 320px;
    background-color: #2f133f;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 0 15px;
}
p{
    width: 80%;
    color: aliceblue;
    font-size: 30px;
    letter-spacing: 5px;
}
.input-box{
    width: 80%;
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}
.input-box label{
    position: relative;
    cursor: pointer;
    display:flex;
    align-self: center;
    font-size: 25px;
    color: aliceblue;
    letter-spacing: 5px;
}
.input-box label span{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: 0.5s;
}
.input-box label span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: aliceblue;
    box-shadow: 0 -26px 0 aliceblue;
    transition: 0.5s;
}

.input-box label span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background-color: aliceblue;
    box-shadow: 26px 0 0 aliceblue;
    transition: 0.5s;
}
.input-box label input:checked ~ span.yes::before{
    background-color: lightgreen;
    box-shadow: none;
}
.input-box label input:checked ~ span.yes::after{
    background-color: lightgreen;
    box-shadow: none;
    height: 55%;
}
.input-box label input:checked ~ span.yes{
    transform: rotate(-45deg) translate(2px,-10px);
} 
.input-box label input:checked ~ span.no::before{
    background-color: red;
    box-shadow: none;
    transform: rotate(-45deg) translate(7px, -8px);
}
.input-box label input:checked ~ span.no::after{
    background-color: red;
    box-shadow: none;
    transform: rotate(-45deg) translate(7px, 11px);
}
.input-box input{
    display: none;
}
#link{
    text-decoration: none;
    width: 130px;
    height: 20px;
    background: #41115792;
    color: aliceblue;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 10px;
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
}
#button{
    text-decoration: none;
    width: 130px;
    height: 25px;
    background: #41115792;
    color: aliceblue;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 10px;
    position: fixed;
    align-content: center;
    bottom: 70%;
    font-size: 20px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
}
#hover-content {
    display: none; 
    position: absolute;
    width: 600px;
    max-height: 300px;  
    background-color: rgb(82, 33, 123); 
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%; 
    z-index: 10;
}
#hover-content p {
    font-size: 10px !important;
    font-family: 'Courier New', Courier, monospace;
}


#button:hover + #hover-content {
    display: block; 
}





