*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    flex-direction: column;
}
.container{
    color: aliceblue;
    font-family: cursive;
    font-size: 70px;
    position: absolute;
    top: 200px;
    left: 140px;
    font-weight: bold;
    
}
.container::before{
    content:'Princess and the Pea';
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(44, 135, 104);
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid rgb(44, 135, 104);
    animation: move 50s linear infinite;
    filter: drop-shadow(0 0 50px rgb(44, 135, 104) );
}

@keyframes move {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }

}

.text{
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
    position: relative;
    bottom: -100px;
}
#link{
    text-decoration: none;
    width: 120px;
    height: 20px;
    background: #1f482b7b;
    color: aliceblue;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 10px;
    position: absolute;
    left: 10px;
    bottom: 20px;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 8;
}

