*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 430px;
    height: 90px;
    border: 1px solid red;
}
.bg{
    position: fixed;
    top: -40px;
    right: -40px;
    bottom: -40px;
    left: -40px;
    background: url(/images/mermaid1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    filter:blur(30px);
    z-index: 1;
}
.bg-mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.22);
    z-index: 2;
}
.player{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.player-track{
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px 15px 0 0;
    transition: top 0.3s ease;
}
.player-track.active{
    top: -95px;
}
.album-name{
    color: #333;
    font-size: 17px;
    font-weight: bold;
}
.track-name{
    color: #888;
    font-size: 13px;
    margin: 3px 0 12px 0;
}
.track-time{
    height: 12px;
    line-height: 12px;
    margin-bottom: 4px;
    overflow: hidden;
}
.current-time,
.total-time{
    color: #ff6686;
    font-size: 11px;
    transition: 0.3s ease;
}
.current-time{
    float:left;
}
.total-time{
    float: right
}
.progress-box{
    position: relative;
    height: 4px;
    background-color: #ead2d7;
    border-radius: 4px;
    cursor: pointer;
}
.hover-time{
    position: absolute;
    top: -30px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
}
.hover-bar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.102);
    border-radius: 4px;
    z-index: 2;
}
.progress-bar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fd6d94;
    border-radius: 4px;
    z-index: 1;
    width: 0;
    transition: width 0.2s ease;
}
.player-content{
    position: relative;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    z-index: 2;
    box-shadow: 0 30px 80px #656565;
}
.album-cover{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 40px;
    box-shadow: 0 0 0 10px #fff;
    overflow: hidden;
    transition: 0.3s ease;
}
.album-cover::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #d6dee6;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    margin: -10px auto auto auto;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 1;
}
.album-cover.active{
    top: -60px;
    box-shadow: 0 0 0 40x #fff7f7,
    0 30px 50px -15px #afb7c1;
}
.album-cover img{
    display: block;
    width: 100%;
    height: 0%;
    object-fit: cover;
    opacity: 0;
}
.album-cover img.active{
    height: 100%;
    opacity: 1;
}
.album-cover.active img.active{
    animation: rotateAlbumCover 3s linear infinite;
}
.play-controls{
    width: 255px;
    height: 100%;
    float: right;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 2px;
}
.control{
    flex: 1;
}
.control .button{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}
.control .button i{
    color: #d6dee6;
    font-size: 30px;
    transition: 0.2s ease;
}
.control .button:hover{
    background-color: #d6d6de;
}
.control .button:hover i{
    color: #fff;

}
.bottom-right-button {
    position: fixed;
    bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    left: 20px;
    padding: 10px 20px;
    background-color: #21c4ff5d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 5
}

.bottom-right-button:hover {
    background-color: #008fb393;
}




@keyframes rotateAlbumCover{
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg)
    }
}