*{
    margin: 0;
    padding: 0;
}
body{

    background: url("../images/matchseller.png");
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

#story{
    text-decoration: none;
    width: 160px;
    height: 20px;
    background: #48471f7b;
    color: aliceblue;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 10px;
    position: absolute;
    left: 1250px;
    bottom: 20px;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}
canvas {
    pointer-events: none;
}



