*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background: url("../images/pea.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
 .fill-area{
  width: 100vw;
  height: 100vh;
  background: rgb(15, 29, 22);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: inset 3px 3px 5px -1px #111;
  pointer-events: none;
 }
 label {
  font-family: cursive;
  font-weight: bolder;
  font-size: 8rem;
  position: absolute;
  z-index: 3;
  color: aliceblue;
  left: 50%;
  top: 40%; 
  transform: translate(-50%, -50%);
  margin: 0;
}
 label::after{
  content: '%';
 }
 input[type=range]{
  position: static;
  z-index: 4;
  width: 50vw;
  height: 1rem;
  background: #0d6a35;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: inset 3px 3px 5px -1px #000;
 }
 input[type=range]::-webkit-slider-thumb{
  width: 4vw;
  height: 4vw;
  background: #eee;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 8px -1px #000;
  transition: box-shadow 0.3s ease-in-out;
 }
 input[type=range]:hover::-webkit-slider-thumb{
  background: #fff;
  box-shadow: 3px 3px 5px -1px #000;
  
 }
 #link{
  text-decoration: none;
  width: 150px;
  height: 25px;
  background: #1f482b7b;
  color: aliceblue;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  display: block;
  margin: 10px;
  position: absolute;
  left: 10px;
  bottom: 20px;
  border-radius: 8px;
  font-size: 14px;
  padding: 5px 10px;
  font-family: 'Courier New', Courier, monospace;
  z-index: 8;
}
#story{
  text-decoration: none;
  width: 200px;
  height: 25px;
  background: #1f482b7b;
  color: aliceblue;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  display: block;
  margin: 10px;
  position: absolute;
  left: 1250px;
  bottom: 20px;
  border-radius: 8px;
  font-size: 14px;
  padding: 5px 10px;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1;
}