*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.star{
    width: 36px;
    height: 36px;
    position: absolute;
    left: calc(50% - 18px);
    top: calc(20vh - 22px);
    z-index: 2;
    background-color: #ffce54;
    clip-path: polygon(50% 0%, 61% 35%,98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: 0.3s;
}
.star:hover{
    background: url(/images/tree.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    clip-path: none;
    left: calc(50% - 25vw);
}
.star::before{
    content: "";
    position: absolute;
    top: 50vh;
    width: 100%;
    text-align: center;
    color:rgb(12, 37, 12);
    font-size: 4vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    white-space: nowrap;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white,
    0 0 80px white,
    0 0 120px white,
    0 0 180px white;
}
.star:hover::before{
    content: "The Fir Tree"
}

ul{
    padding: 0;
}
ul li{
    list-style: none;
}
.tree li{
    position: absolute;
    top: 20vh;
    right: 50%;
    width: 1px;
    height: var(--h);
    background: linear-gradient(transparent,rgba(46,204,113,0.35))
    ;
    transform-origin: 50% 0;
    animation: swing 4s ease-in-out infinite;
    animation-delay: var(--d)
}
.tree li::before{
    content: "";
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.tree li:nth-child(4n)::before{
    background-color: rgb(255, 0, 0);
}
.tree li:nth-child(4n+1)::before{
    background-color: rgba(255, 0, 225, 0.931);
}.tree li:nth-child(4n+2)::before{
    background-color: rgb(0, 110, 255);
}.tree li:nth-child(4n+3)::before{
    background-color: rgb(0, 255, 229);
}

#link{
    text-decoration: none;
    width: 120px;
    height: 20px;
    background: #1f482b7b;
    color: aliceblue;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 10px;
    position: absolute;
    left: 10px;
    bottom: 30px;
    border-radius: 8px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
}
@keyframes swing {
    0%,100%{
        transform: rotateZ(-30deg);
    }
    5%, 45%{
        opacity: 0.25;
    }
    50%,100%,0%{
        opacity: 1;
    }

    50%{
        transform: rotateZ(30deg);
    }
}